### Import your libraries

In [39]:
import pandas as pd 
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

### Load your dataset

In [40]:
df = pd.read_csv('HR_Missing_Vslues.csv')

### Explore your data 

* First 5 recods
* Last 5 records 
* Check data type
* Show statistical summary 
* Is there any missing values ?
* Applay two more data analysis from your choose

In [41]:
df.head(50)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
5,NaN,10002,57568.0,19,Production Technician I,05/22/77,F,Single,White,1/9/2012,NaN,Production,Amy Dunn,11.0,LinkedIn,15.0
6,"Andreola, Colby",10194,95660.0,24,Software Engineer,05/24/79,F,Single,White,11/10/2014,NaN,Software Engineering,Alex Sweetwater,10.0,LinkedIn,19.0
7,"Athwal, Sam",10062,59365.0,19,Production Technician I,02/18/83,M,Widowed,White,9/30/2013,NaN,Production,Ketsia Liebig,19.0,Employee Referral,19.0
8,NaN,10114,47837.0,19,Production Technician I,02/11/70,F,Single,Black or African American,7/6/2009,NaN,Production,Brannon Miller,12.0,Diversity Job Fair,4.0
9,NaN,10250,NaN,14,IT Support,01/07/88,NaN,Divorced,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Indeed,16.0
10,"Baczenski, Rachael",10252,NaN,19,Production Technician I,01/12/74,F,Married,Black or African American,1/10/2011,1/12/2017,Production,David Stanley,14.0,Diversity Job Fair,12.0
11,NaN,10242,47211.0,19,Production Technician I,02/21/74,M,Married,Black or African American,4/2/2012,9/19/2016,Production,Kissy Sullivan,20.0,Diversity Job Fair,15.0
12,"Barbossa, Hector",10012,92328.0,9,Data Analyst,07/04/88,M,Divorced,Black or African American,11/10/2014,NaN,IT/IS,Simon Roup,4.0,Diversity Job Fair,9.0
13,"Barone, Francesco A",10265,58709.0,19,Production Technician I,07/20/83,M,Single,Two or more races,2/20/2012,NaN,Production,Kelley Spirea,18.0,Google Search,7.0
14,NaN,10066,52505.0,19,Production Technician I,07/15/77,M,Divorced,White,9/24/2012,4/6/2017,Production,Michael Albert,22.0,On-line Web application,1.0
15,"Bates, Norman",10061,57834.0,19,Production Technician I,10/18/81,NaN,Single,White,2/21/2011,8/4/2017,Production,Kelley Spirea,18.0,Google Search,20.0
16,"Beak, Kimberly",10023,70131.0,20,Production Technician II,04/17/66,NaN,Married,White,7/21/2016,NaN,Production,Kelley Spirea,18.0,Employee Referral,16.0
17,NaN,10055,59026.0,19,Production Technician I,10/27/70,F,Single,White,4/4/2011,NaN,Production,Elijiah Gray,16.0,Google Search,12.0
18,NaN,10245,110000.0,8,Database Administrator,04/04/86,NaN,Single,White,7/7/2014,9/12/2015,IT/IS,Simon Roup,4.0,Google Search,8.0
19,NaN,10277,NaN,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,NaN
20,NaN,10046,NaN,19,Production Technician I,12/22/70,M,Single,White,4/2/2012,NaN,Production,Amy Dunn,11.0,Google Search,13.0
21,NaN,10226,64919.0,19,Production Technician I,12/27/58,F,Divorced,Asian,8/19/2013,NaN,Production,Ketsia Liebig,19.0,Indeed,2.0
22,NaN,10003,NaN,19,Production Technician I,09/01/89,F,Married,White,7/7/2014,NaN,Production,Brannon Miller,12.0,Indeed,NaN
23,"Blount, Dianna",10294,NaN,20,Production Technician II,09/21/90,F,Single,White,4/4/2011,NaN,Production,Michael Albert,22.0,CareerBuilder,3.0
24,"Bondwell, Betsy",10267,57815.0,20,Production Technician II,01/16/67,F,Single,White,1/10/2011,4/4/2014,Production,Elijiah Gray,16.0,Google Search,5.0
25,"Booth, Frank",10199,NaN,30,Enterprise Architect,07/30/64,M,Single,Black or African American,2/17/2014,2/19/2016,IT/IS,Simon Roup,4.0,LinkedIn,2.0
26,"Boutwell, Bonalyn",10081,106367.0,26,Sr. Accountant,04/04/87,F,Married,Black or African American,2/16/2015,NaN,Admin Offices,Brandon R. LeBlanc,3.0,Diversity Job Fair,4.0
27,"Bozzi, Charles",10175,74312.0,18,Production Manager,03/10/70,NaN,Single,Asian,9/30/2013,8/7/2014,Production,Janet King,2.0,Indeed,14.0
28,NaN,10177,53492.0,19,Production Technician I,08/24/90,NaN,Married,White,4/2/2012,6/15/2013,Production,David Stanley,14.0,Google Search,6.0
29,NaN,10238,63000.0,1,Accountant I,11/24/87,F,Married,Black or African American,10/27/2008,NaN,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,14.0
30,"Buccheri, Joseph",10184,65288.0,20,Production Technician II,07/28/83,M,Single,White,9/29/2014,NaN,Production,Webster Butler,NaN,Google Search,NaN
31,"Bugali, Josephine",10203,64375.0,19,Production Technician I,10/30/69,F,Separated,Black or African American,11/11/2013,NaN,Production,Kissy Sullivan,20.0,Diversity Job Fair,17.0
32,"Bunbury, Jessica",10188,74326.0,3,Area Sales Manager,06/01/64,F,Married,Black or African American,8/15/2011,8/2/2014,Sales,John Smith,17.0,Google Search,19.0
33,NaN,10107,63763.0,20,Production Technician II,03/02/80,F,Single,Black or African American,3/5/2012,NaN,Production,Amy Dunn,11.0,Employee Referral,3.0
34,"Burkett, Benjamin",10181,NaN,20,Production Technician II,08/19/77,M,Married,White,4/4/2011,NaN,Production,Ketsia Liebig,19.0,Indeed,15.0
35,"Cady, Max",10150,77692.0,25,Software Engineering Manager,11/22/66,M,Single,White,8/15/2011,NaN,Software Engineering,Jennifer Zamora,5.0,Google Search,4.0
36,"Candie, Calvin",10001,72640.0,18,Production Manager,08/09/83,M,Single,White,1/28/2016,NaN,Production,Janet King,2.0,Indeed,14.0
37,"Carabbio, Judith",10085,NaN,24,Software Engineer,04/05/87,F,Single,White,11/11/2013,NaN,Software Engineering,Alex Sweetwater,10.0,Indeed,3.0
38,"Carey, Michael",10115,52846.0,19,Production Technician I,02/02/83,M,Single,Black or African American,3/31/2014,NaN,Production,Kelley Spirea,18.0,LinkedIn,NaN
39,"Carr, Claudia N",10082,NaN,27,Sr. DBA,06/06/86,NaN,Single,Black or African American,6/30/2016,NaN,IT/IS,Simon Roup,4.0,LinkedIn,7.0
40,"Carter, Michelle",10040,NaN,3,Area Sales Manager,05/15/63,F,Single,White,8/18/2014,NaN,Sales,John Smith,17.0,Indeed,7.0
41,"Chace, Beatrice",10067,61656.0,19,Production Technician I,01/02/51,F,Single,White,9/29/2014,NaN,Production,Michael Albert,22.0,Google Search,11.0
42,"Champaigne, Brian",10108,110929.0,5,BI Director,NaN,NaN,Married,White,9/6/2016,NaN,IT/IS,Jennifer Zamora,5.0,Indeed,8.0
43,"Chan, Lin",10210,54237.0,19,Production Technician I,02/12/79,F,Single,White,5/12/2014,NaN,Production,Elijiah Gray,16.0,Indeed,11.0
44,"Chang, Donovan E",10154,NaN,19,Production Technician I,08/24/83,NaN,Single,White,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,4.0
45,NaN,10200,NaN,3,Area Sales Manager,06/11/70,M,Single,Black or African American,5/14/2012,NaN,Sales,Lynn Daneault,21.0,Employee Referral,17.0
46,"Chivukula, Enola",10240,64786.0,19,Production Technician I,08/27/83,F,Single,White,6/27/2011,11/15/2015,Production,Amy Dunn,11.0,Indeed,3.0
47,NaN,10168,64816.0,19,Production Technician I,05/31/88,NaN,Single,Black or African American,10/3/2011,NaN,Production,Ketsia Liebig,19.0,Indeed,3.0
48,"Clayton, Rick",10220,68678.0,14,IT Support,09/05/85,M,Single,White,9/5/2012,NaN,IT/IS,Eric Dougall,6.0,Indeed,2.0
49,"Cloninger, Jennifer",10275,64066.0,20,Production Technician II,08/31/81,F,Married,White,5/16/2011,1/7/2013,Production,Brannon Miller,12.0,Google Search,NaN

In [42]:
df.tail()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [43]:
df.dtypes

Employee_Name         object
EmpID                  int64
Salary               float64
PositionID             int64
Position              object
DOB                   object
Sex                   object
MaritalDesc           object
RaceDesc              object
DateofHire            object
DateofTermination     object
Department            object
ManagerName           object
ManagerID            float64
RecruitmentSource     object
Absences             float64
dtype: object

In [44]:
df['Salary'].describe()

count       249.000000
mean      67972.662651
std       22995.908395
min       45046.000000
25%       55315.000000
50%       62957.000000
75%       71707.000000
max      220450.000000
Name: Salary, dtype: float64

In [45]:
df.isnull().sum()

Employee_Name         93
EmpID                  0
Salary                62
PositionID             0
Position               0
DOB                   31
Sex                   62
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination    207
Department             0
ManagerName            0
ManagerID              8
RecruitmentSource      0
Absences              31
dtype: int64

In [46]:
df.head(50)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
5,NaN,10002,57568.0,19,Production Technician I,05/22/77,F,Single,White,1/9/2012,NaN,Production,Amy Dunn,11.0,LinkedIn,15.0
6,"Andreola, Colby",10194,95660.0,24,Software Engineer,05/24/79,F,Single,White,11/10/2014,NaN,Software Engineering,Alex Sweetwater,10.0,LinkedIn,19.0
7,"Athwal, Sam",10062,59365.0,19,Production Technician I,02/18/83,M,Widowed,White,9/30/2013,NaN,Production,Ketsia Liebig,19.0,Employee Referral,19.0
8,NaN,10114,47837.0,19,Production Technician I,02/11/70,F,Single,Black or African American,7/6/2009,NaN,Production,Brannon Miller,12.0,Diversity Job Fair,4.0
9,NaN,10250,NaN,14,IT Support,01/07/88,NaN,Divorced,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Indeed,16.0
10,"Baczenski, Rachael",10252,NaN,19,Production Technician I,01/12/74,F,Married,Black or African American,1/10/2011,1/12/2017,Production,David Stanley,14.0,Diversity Job Fair,12.0
11,NaN,10242,47211.0,19,Production Technician I,02/21/74,M,Married,Black or African American,4/2/2012,9/19/2016,Production,Kissy Sullivan,20.0,Diversity Job Fair,15.0
12,"Barbossa, Hector",10012,92328.0,9,Data Analyst,07/04/88,M,Divorced,Black or African American,11/10/2014,NaN,IT/IS,Simon Roup,4.0,Diversity Job Fair,9.0
13,"Barone, Francesco A",10265,58709.0,19,Production Technician I,07/20/83,M,Single,Two or more races,2/20/2012,NaN,Production,Kelley Spirea,18.0,Google Search,7.0
14,NaN,10066,52505.0,19,Production Technician I,07/15/77,M,Divorced,White,9/24/2012,4/6/2017,Production,Michael Albert,22.0,On-line Web application,1.0
15,"Bates, Norman",10061,57834.0,19,Production Technician I,10/18/81,NaN,Single,White,2/21/2011,8/4/2017,Production,Kelley Spirea,18.0,Google Search,20.0
16,"Beak, Kimberly",10023,70131.0,20,Production Technician II,04/17/66,NaN,Married,White,7/21/2016,NaN,Production,Kelley Spirea,18.0,Employee Referral,16.0
17,NaN,10055,59026.0,19,Production Technician I,10/27/70,F,Single,White,4/4/2011,NaN,Production,Elijiah Gray,16.0,Google Search,12.0
18,NaN,10245,110000.0,8,Database Administrator,04/04/86,NaN,Single,White,7/7/2014,9/12/2015,IT/IS,Simon Roup,4.0,Google Search,8.0
19,NaN,10277,NaN,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,NaN
20,NaN,10046,NaN,19,Production Technician I,12/22/70,M,Single,White,4/2/2012,NaN,Production,Amy Dunn,11.0,Google Search,13.0
21,NaN,10226,64919.0,19,Production Technician I,12/27/58,F,Divorced,Asian,8/19/2013,NaN,Production,Ketsia Liebig,19.0,Indeed,2.0
22,NaN,10003,NaN,19,Production Technician I,09/01/89,F,Married,White,7/7/2014,NaN,Production,Brannon Miller,12.0,Indeed,NaN
23,"Blount, Dianna",10294,NaN,20,Production Technician II,09/21/90,F,Single,White,4/4/2011,NaN,Production,Michael Albert,22.0,CareerBuilder,3.0
24,"Bondwell, Betsy",10267,57815.0,20,Production Technician II,01/16/67,F,Single,White,1/10/2011,4/4/2014,Production,Elijiah Gray,16.0,Google Search,5.0
25,"Booth, Frank",10199,NaN,30,Enterprise Architect,07/30/64,M,Single,Black or African American,2/17/2014,2/19/2016,IT/IS,Simon Roup,4.0,LinkedIn,2.0
26,"Boutwell, Bonalyn",10081,106367.0,26,Sr. Accountant,04/04/87,F,Married,Black or African American,2/16/2015,NaN,Admin Offices,Brandon R. LeBlanc,3.0,Diversity Job Fair,4.0
27,"Bozzi, Charles",10175,74312.0,18,Production Manager,03/10/70,NaN,Single,Asian,9/30/2013,8/7/2014,Production,Janet King,2.0,Indeed,14.0
28,NaN,10177,53492.0,19,Production Technician I,08/24/90,NaN,Married,White,4/2/2012,6/15/2013,Production,David Stanley,14.0,Google Search,6.0
29,NaN,10238,63000.0,1,Accountant I,11/24/87,F,Married,Black or African American,10/27/2008,NaN,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,14.0
30,"Buccheri, Joseph",10184,65288.0,20,Production Technician II,07/28/83,M,Single,White,9/29/2014,NaN,Production,Webster Butler,NaN,Google Search,NaN
31,"Bugali, Josephine",10203,64375.0,19,Production Technician I,10/30/69,F,Separated,Black or African American,11/11/2013,NaN,Production,Kissy Sullivan,20.0,Diversity Job Fair,17.0
32,"Bunbury, Jessica",10188,74326.0,3,Area Sales Manager,06/01/64,F,Married,Black or African American,8/15/2011,8/2/2014,Sales,John Smith,17.0,Google Search,19.0
33,NaN,10107,63763.0,20,Production Technician II,03/02/80,F,Single,Black or African American,3/5/2012,NaN,Production,Amy Dunn,11.0,Employee Referral,3.0
34,"Burkett, Benjamin",10181,NaN,20,Production Technician II,08/19/77,M,Married,White,4/4/2011,NaN,Production,Ketsia Liebig,19.0,Indeed,15.0
35,"Cady, Max",10150,77692.0,25,Software Engineering Manager,11/22/66,M,Single,White,8/15/2011,NaN,Software Engineering,Jennifer Zamora,5.0,Google Search,4.0
36,"Candie, Calvin",10001,72640.0,18,Production Manager,08/09/83,M,Single,White,1/28/2016,NaN,Production,Janet King,2.0,Indeed,14.0
37,"Carabbio, Judith",10085,NaN,24,Software Engineer,04/05/87,F,Single,White,11/11/2013,NaN,Software Engineering,Alex Sweetwater,10.0,Indeed,3.0
38,"Carey, Michael",10115,52846.0,19,Production Technician I,02/02/83,M,Single,Black or African American,3/31/2014,NaN,Production,Kelley Spirea,18.0,LinkedIn,NaN
39,"Carr, Claudia N",10082,NaN,27,Sr. DBA,06/06/86,NaN,Single,Black or African American,6/30/2016,NaN,IT/IS,Simon Roup,4.0,LinkedIn,7.0
40,"Carter, Michelle",10040,NaN,3,Area Sales Manager,05/15/63,F,Single,White,8/18/2014,NaN,Sales,John Smith,17.0,Indeed,7.0
41,"Chace, Beatrice",10067,61656.0,19,Production Technician I,01/02/51,F,Single,White,9/29/2014,NaN,Production,Michael Albert,22.0,Google Search,11.0
42,"Champaigne, Brian",10108,110929.0,5,BI Director,NaN,NaN,Married,White,9/6/2016,NaN,IT/IS,Jennifer Zamora,5.0,Indeed,8.0
43,"Chan, Lin",10210,54237.0,19,Production Technician I,02/12/79,F,Single,White,5/12/2014,NaN,Production,Elijiah Gray,16.0,Indeed,11.0
44,"Chang, Donovan E",10154,NaN,19,Production Technician I,08/24/83,NaN,Single,White,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,4.0
45,NaN,10200,NaN,3,Area Sales Manager,06/11/70,M,Single,Black or African American,5/14/2012,NaN,Sales,Lynn Daneault,21.0,Employee Referral,17.0
46,"Chivukula, Enola",10240,64786.0,19,Production Technician I,08/27/83,F,Single,White,6/27/2011,11/15/2015,Production,Amy Dunn,11.0,Indeed,3.0
47,NaN,10168,64816.0,19,Production Technician I,05/31/88,NaN,Single,Black or African American,10/3/2011,NaN,Production,Ketsia Liebig,19.0,Indeed,3.0
48,"Clayton, Rick",10220,68678.0,14,IT Support,09/05/85,M,Single,White,9/5/2012,NaN,IT/IS,Eric Dougall,6.0,Indeed,2.0
49,"Cloninger, Jennifer",10275,64066.0,20,Production Technician II,08/31/81,F,Married,White,5/16/2011,1/7/2013,Production,Brannon Miller,12.0,Google Search,NaN

### Do the following steps for each column with missing values.

* Identity the column 
* How much precentage the missing value represents 
* What is the best way to handle these missing values and why
* Apply yourr method to the column

In [47]:
df.dropna(axis='index', how='all', inplace=True)

In [48]:
print(df[df['Sex'] == 'F']['Salary'].isna().sum())
print(df[df['Sex'] == 'M']['Salary'].isna().sum())

26
0

In [49]:
female = df['Sex'] == 'F'
femaleD = df[con]

In [50]:
print(round(femaleD.Salary.mean()))

66265

In [51]:
df['DOB'] = pd.to_datetime(df['DOB'].str.strip(), format='%m/%d/%y')

In [52]:
df['DateofTermination'] = pd.to_datetime(df['DateofTermination'].str.strip(), format='%m/%d/%Y')

In [53]:
df['Absences'].fillna(0, inplace=True)
change_type = {'Absences' : int}
df = df.astype(change_type)
df.tail()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,1985-05-11,M,Single,White,7/7/2014,NaT,Production,Kissy Sullivan,20.0,LinkedIn,13
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaT,F,Single,Asian,9/2/2008,2015-09-29,Production,Brannon Miller,12.0,Google Search,4
308,NaN,10010,220450.0,6,CIO,NaT,F,Single,White,4/10/2010,NaT,IT/IS,Janet King,2.0,Employee Referral,16
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,1979-02-24,F,Single,White,3/30/2015,NaT,IT/IS,Simon Roup,4.0,Employee Referral,0
310,NaN,10271,45046.0,19,Production Technician I,1978-08-17,F,Widowed,Asian,9/29/2014,NaT,Production,David Stanley,14.0,LinkedIn,2